data/
deps
*.pyc
log
logs
etc
sys.config
test.config
/tests/**/nosetests.xml
*.beam
.DS_Store
erl_crash.dump
tags
.pythontags
/Continents.txt
bin/*
include/*
lib/*
man/*
/.Python
local/
/nosetests.xml
/tests/nosetests.xml
release
_rel
/psycopg2
/build
/ct_log
build.log
/pip-selfcheck.json
utils/bumperl
_build
/dialyze
.vagrant/
*.zip
utils/webrtc_debug_logs/webrtc_debug_logs