*.beam
*.css
*.pyc
*.zip
.DS_Store
.pythontags
.vagrant/
.venv
/.Python
/Continents.txt
/build
/ct_log
/dialyze
/nosetests.xml
/pip-selfcheck.json
/psycopg2
/tests/**/nosetests.xml
/tests/nosetests.xml
_build
_rel
all_runs.html
bin/*
build.log
ct_log_cache
ct_run.*/**
data/
deps
erl_crash.dump
etc
index.html
jquery*
lib/*
local/
log
logs
man/*
release
skaffold
suite.log.latest.html
tags
test.config
utils/bumperl
**/.terraform
**/*.tfstate*
**/*.lock.hcl
variables*
