%%% -*- mode: erlang -*-

{erl_opts,
 [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  {parse_transform, lager_transform},
  {lager_truncation_size, 10240}
 ]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.3"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {tag, "2.2.1"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}]}.

{profiles,
 [ ]}.


{relx,
 [
  {release, {ums, "1"},
         [
          ums,
          runtime_tools,
          tools,
          recon
         ]},
        {dev_mode, true},
        {include_erts, false},
        {overlay_vars, "files/vars/dev.config"},
        {vm_args, "files/vm.args"},
        {overlay, [
            {mkdir, "log/sasl"},
            {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
            {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
            {copy, "files/ums", "bin/ums"},
            {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
            {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"}
        ]},
        {extended_start_script, true}]}.
